<main>
 <p>
   <%= @meigen[:main] %>
   <%= @meigen.user[:name] %>
 </p>
 <p><%= @meigen[:cartoon_title]%>
 <% if @meigen.user && @meigen.user.authenticate(session[:user_id]) %>
  <form method="post" action=<%= "/meigen/#{ @meigen[:id]}/delete"%>>
    <input type="submit" value="Delete">
  </form>
 <% end %>
 <h3>いいね数: <%= @meigen.likes.count %></h3>
 <% if @meigen.already_liked?(session[:user_id]) %>
 <form method="post" action=<%="/like/#{@like[:id]}/delete"%>>
  <button><img src="/img/colorheart.svg" class="like-btn"></button>
  <% if @message %><p class="error-message"><%= @message %></p><% end %>
 </form>
 <% else %>
 <form method="post" action="/like/create">
  <input type="hidden" value=<%= @meigen[:id] %> name="meigen_id">
  <button><img src="/img/monoheart.svg" class="like-btn"></button>
  <% if @message %><p class="error-message"><%= @message %></p><% end %>
 </form>
 <% end %>
 <div id="likes">
  <p>いいねした人</p>
  <% @likes.each do |like| %>
    <p>
      <%= like.user[:name] %></a>
    </p>
  <% end %>
  <p id="hideText" class="clickText">hide all likes</p>
 </div>
 <p id="openText" class="clickText">show all likes</p>
</main>
<script>
let likes = document.getElementById("likes");
let hideText = document.getElementById("hideText");
let openText = document.getElementById("openText");

let isHidden = true;
const attachClass = (isHidden) => {
  if (isHidden) {
    openText.classList.remove("hidden")
    likes.classList.add("hidden");
  } else {
    openText.classList.add("hidden")
    likes.classList.remove("hidden");
  }
}
attachClass(isHidden)

hideText.addEventListener('click', () => {
  isHidden = !isHidden
  attachClass(isHidden)
})

openText.addEventListener('click', () => {
  isHidden = !isHidden
  attachClass(isHidden)
})
</script>
<style>
.error-message {
 color: red; 
 font-size: 14px;
}
.hidden {
  display: none;
}
.clickText {
  color: royalblue;
  cursor: pointer;
  text-ecolation: underline;
}
.like-btn {
  height: 30px;
}
</style>